    *{
        margin: 0px;
        padding: 0px;
    }
    .grid-img img{
        width: 80px;
        height: 80px;
        margin: 10px auto 0;
    }
   ol,
   ul,
   li {
       list-style: none;
   }
   a {
       text-decoration: none;
       color: #333;
   }
   a:hover {
       text-decoration: none;
   }

   .wmq-xialala {
         width: 100%;
         background:#fff;
         position: absolute;
         left: 0;
         top: 115px;
         z-index:300;
  }
    .wmq-xialala .naver-sub-wrap {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        background-color: #fff;
    }

    .nav-home .naver a:hover::before,
    .nav-home .naver .current::before {
        content: "";
        height: 2px;
        width: 100%;
        display: block;
        background: #ca141d;
        position: absolute;
        bottom: 3px;
    }


    .wmq-xialala .hide,
    .wmq-xialala .hidden {
        display: none;
    }
    
    .wmq-xialala .naver-sub-wrap .p-title {
        width: 1176px;
        font-size: 14px;
        line-height: 30px;
        padding: 5px 12px 0 0;
    }
    
    .wmq-xialala .naver-sub-wrap .p-title {
        width: 1176px;
        font-size: 14px;
        line-height: 50px;
        padding: 0 12px 0 0;
    }
    
    .wmq-xialala .naver-sub-wrap .p-title .s1 {
        max-width: 170px;
        padding-right: 22px;
        position: relative;
    }
    
    .wwmq-xialalaf.naver-sub-wrap .p-title .s1:after {
        content: '';
        position: absolute;
        right: 0;
        top: 10px;
        height: 44px;
        width: 12px;
        // background: url(../img/icon1.gif) no-repeat 5px -201px;
    }
    
    .fl,
    .left,
    .left-area {
        float: left;
    }
    
    .wmq-xialala .naver-sub-wrap .p-title .s2 {
        width: 942px;
        max-height: 60px;
        overflow: hidden;
    }
    
    .wmq-xialala .naver-sub-wrap .p-title .s1 a {
        color: #3a3a3a;
    }
    
    .wmq-xialala .naver-sub-wrap .grid-items {
        margin: 0;
        margin-bottom: 14px;
        width: 120px;
        height: 206px;
        text-align: center;
        margin-right: 46px;
        font-size: 14px;
        float: left;
    }
    
    .wmq-xialala .grid-items .grid-price {
        color: #ca141d;
        margin: 0;
        padding: 0;
    }
    
    .wmq-xialala .grid-items .grid-price.gray {
        color: #a4a4a4;
    }
    
    .wmq-xialala .grid-items .grid-title {
        width: 120px;
        height: 42px;
        line-height: 1.4;
        display: table-cell;
        vertical-align: bottom;
        overflow: hidden;
    }
    
    .nav-home .grid-items .thumb {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .nav-home .grid-items .grid-img img {
        height: 100%;
        width: 100%;
    }
    .nav-home .naver-sub ul {
        margin: 0;
        width: 1162px;
        padding: 0 0 0 20px;
        float: left;
    }
    .wmq-xialala .naver-sub-wrap .p-title .s1 a:hover {
        color: #ca141d;
    }
    
    .wmq-xialala.naver-sub-wrap .p-title .s2 a {
        padding: 0 16px;
        color: #717171;
    }
    .wmq-xialala .naver-sub-wrap .p-title .s2 a:hover {
        color: #ca141d;
    }
    
    .wmq-xialala .naver-sub-wrap .grid-items:hover .grid-title {
        color: #ca141d;
    }
    
    .fl, .left, .left-area {
        float: left;
        margin-left: 20px;
    }
    